<div class="main-products-container">
	{{#each products}}
		<div class="product-container">
			<p>{{this.title}}</p>
			<p>{{this.description}}</p>
			<p>Precio: {{this.price}}</p>
			<p>{{this.thumbnail}}</p>
			<p>Codigo: {{this.code}}</p>
			<p>Stock: {{this.stock}}</p>
			<p>{{this.id}}</p>
		</div>
	{{/each}}
</div>